params {
    name = 'Matt'
}
profiles {
    docker {
        docker.enabled = true
    }
    local {
        docker.enabled = false
    }
    bash {
        process.container = 'quay.io/nextflow/bash'
    }
    python {
        // NOTE: 3.11-slim does not include ps, which is needed to run jobs in Seqera
        // process.container = 'docker.io/python:3.11-slim'
        process.container = 'docker.io/python:3.11'
    }
}